#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  background-color: #e9edc9;
  min-width: 465px;
  overflow: scroll;
}
.Title {
  margin-top: 25px;
  font-size: 2rem;
}