table {
  background-color: #fefae0;
  min-width: 550px;
  max-width: 870px;
  justify-self: center;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  border-radius: 10px;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th {

  padding: 2px 4px;
  background-color: #faedcd;
  border-radius: 2px;
}

tfoot {
  color: gray;
}

tfoot th {
  font-weight: normal;
}
.hyperlink {
  width: 1.5rem;
  height: 1.5rem;
  color: #a0a0a0;
}
td a:hover .hyperlink {
  color: #a0a0a0c1;
}
